<h1><%= @machine.location %> Vending Machine</h1>

<p>Average snack price: $<%= @machine.average_price %></p>

<% @machine.snacks.each do |snack| %>
<ul>
  <li><%= snack.name %></li>
  <li>Price: $<%= snack.price %></li>
</ul>
<% end %>
